{% extends "VideoAdminBundle::admin.html.twig" %}

    {% block sidebar %}
    {% import _self as itself %}
        <div class="side-body coffee">
            <form class="prefs">
            <input type="hidden" name="prefs_form" value="1" />
            {% set route = app.request.attributes.get('_route') %}
            <ul class="side-list">
              {% if myTable is not null %}
                {{- itself.side_item(tables[myTableId], prefs[ myTable.name ], 'open', route) -}}
              {% endif %}
              {% for table in tables if myTable is null or myTable.name != table.name %}
                {% if prefs[ table.getName() ] is defined %}
                  {{- itself.side_item(table, prefs[ table.getName() ], '', route) -}}
                {% endif %}
              {% endfor %}
            </ul>
            </form>
        </div>
    {% endblock %}

    {% block body %}
    {% import _self as itself %}
    {% set route = app.request.attributes.get('_route') %}
            {% if myTable is not null %}
              <form class="hidden" id="query-form"></form>
              <form class='my_table'>
                <input type="hidden" name="my_table" value="{{myTable.name}}"/>
                <h1>
                  {{myTable.name}}
                  <a class="save btn">Save Preferences</a>
                  <a class="refresh btn dark">Refresh Preferences</a>
                  <a class="add btn">Add</a>
                  <a class="edit btn">Edit</a>
                  <span class="edit-save-span hidden">
                    <a class="cancel-edit btn">Edit Cancel</a><a class="save-edit btn dark">Save</a>
                  </span>
                  <a class="delete_rows btn dark">Del Selected</a>
                </h1>

                {% if myTable.class is defined and myTable.class is not null %}
                <h3>
                  <input type="checkbox" checked/>
                  {{ myTable.class }}
                </h3>
                  <span class="help-span">check the box if you want to use the class functions instead of direct MySQL</span>
                {% else %}
                <h3>
                  No class was found
                </h3>
                {% endif %}

                <div class="table-query">
                  <div class="table-queries-list">
                    {% if myTable.query.equal is defined %}
                        {% for cl, vl in myTable.query.equal %}
                            <div class="query-param equal-{{cl}}">
                                <span class="column">{{ cl }}</span> = <input form="query-form" name="query[range][{{cl}}]" value="{{ vl }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if myTable.query.range is defined %}
                        {% for cl, vl in myTable.query.range %}
                            <div class="query-param range-{{cl}}">
                                <span class="column">{{ cl }}</span> between 
                                <input form="query-form" name="query[range][{{cl}}][start]" value="{{ vl.start }}"/>
                                and 
                                <input form="query-form" name="query[range][{{cl}}][end]" value="{{ vl.end }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if myTable.query.like is defined %}
                        {% for cl, vl in myTable.query.like %}
                            <div class="query-param like-{{cl}}">
                                <span class="column">{{ cl }}</span> like <input form="query-form" name="query[like][{{cl}}]" value="{{ vl }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                  </div>

                    {% if myTable.query.order is defined %}
                        <div class="query-param  query-order-holder">
                        Order by:
                        {% for ind, qr in myTable.query.order %}
                            {% for cl, vl in qr %}
                                <span class="order-span order-{{cl}}">
                                   <span class="column">{{ cl }}</span>
                                   <input form="query-form" type="hidden" name="query[order][{{ind}}][{{cl}}]" value="{{ vl }}"/>
                                   {% if vl == "DESC" %}
                                        <a class="order-direction icon-arrow-circle-down"></a>
                                   {% elseif vl == "ASC" %}
                                        <a class="order-direction icon-arrow-circle-up"></a>
                                   {% endif %}
                                   <a class="close">&times;</a>
                                </span>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endif %}

                  <a class="search btn">Run Query</a>
                </div>

                {% set fkeys = myTable.fkeys %}
                <table class="{{myTable.name}}">
                  <thead>
                    <tr>
                      <th><input class="select_all" type="checkbox"></th>
                {% for col_name, column in myTable.columns %}
                      <th class="{{col_name|replace({' ': '-'}) }} {{column.assoc? 'associated':''}}" data-type="{{ column.type }}">

                        <div class="btn-group">
                            <span>
                                {{ col_name }} 
                            </span>
                            <div class="ddn panel-ddn double-action" data-type="{{column.type}}" data-column="{{ col_name }}" data-order="">
                                <a href="#" class="btn ddn-btn suffix">&#9662;</a>
                                <div class="ddn-list item-types-list">
                                    <a href="#" class="btn" data-order='ASC' >ASC <i class="icon-arrow-circle-up"></i></a>
                                    <a href="#" class="btn" data-order='DESC'>DESC <i class="icon-arrow-circle-down"></i></a>
                                    <a href="#" class="btn" data-order='clear'>Clear</a>
                                    <hr>
                                    <a href="#" class="btn" data-order='' data-search="equal">Find <i class="icon-search"></i></a>
                                    {% if 'string' == column.type %}
                                    <a href="#" class="btn" data-order='' data-search="like">Search <i class="icon-puzzle-piece"></i></a>
                                    {% else %}
                                    <a href="#" class="btn" data-order='' data-search="range">Range <i class="icon-filter"></i></a>
                                    {% endif %}
                                    <a href="#" class="btn" data-order='' data-search="clear">Clear</a>
                                    <hr>
                                    <a href="#" class="btn column-info-btn">
                                        Info:
                                        {{ column.assoc? (column.isOwningSide? 
                                                                'owner ' ~ column.type_name ~ ' ' ~column.inversedBy: 
                                                                column.type_name ~ ' ' ~ column.mappedBy): 
                                                col_name }}
                                    </a>
                                </div>
                            </div>
                        </div>

                      </th>
                {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                {% for row in myTable.rows %}
                    <tr class="abc">
                      {% set row_id=(row['id'] is defined)? row['id'] : '' %}
                      <td class="select_row"><input type="checkbox" name="rows[{{row_id}}]"></td>
                    {% for  col_name, column in  myTable.columns %}
                        {% if column.assoc %}

                            <td class="associated" data-value="">

                              {% if row[ col_name ].count > 1 %}
                                  {% set tgt_col = column.mappedBy? column.mappedBy : column.inversedBy %}
                                  <a href="{{path( route, {'table': column.table_name, ('eq['~tgt_col~']'): row['id']} )}}">
                                    All({{row[ col_name ].count}})
                                  </a>
                              {% endif %}

                              {% for val in row[ col_name ].values %}
                                  <a href="{{path( route, {'table': column.table_name, ('eq['~column.target_id_col~']'): val} )}}">
                                    {{ val }}
                                  </a>
                              {% endfor %}
                            </td>

                        {% else %}
                            {{- itself.table_cell( col_name, column.type, fkeys, row, route) -}}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </form>

              {% if myTable.show_pagination_bool %}
              <div class="pagination">
                {{ knp_pagination_render(myTable.rows) }}
              </div>
              {% endif %}

            {% endif %}

    {% endblock %}

{% macro table_cell(col_name, type, fkeys, row, route) %}
{% import _self as itself %}
  {% if fkeys[col_name] is defined %}
    {% set classes=col_name|replace({' ': '-'}) ~ ' fkey' %}
    {% set fkey = fkeys[col_name] %}
    <td class="{{classes}}" data-value="{{row[ col_name ]}}">
      <a href="{{path( route, {'table':fkey['table'], ('eq['~fkey['col']~']'): row[ col_name ]} )}}">
        {{- itself.table_cell_inside(col_name, row, type) -}}
      </a>
    </td>
  {% else %}
    {% set classes=col_name|replace({' ': '-'}) %}

    {% if row[ col_name ]  is iterable %}
    <td>{{ row[ col_name ]|join(', ')  }}</td>
    {% else %}
    <td class="{{classes}}" data-value="{{ ('datetime' != type)? row[ col_name ] : row[ col_name ]|date}}">
        {{- itself.table_cell_inside(col_name, row, type) -}}
    </td>
    {% endif %}


  {% endif %}
{% endmacro %}


{% macro table_cell_inside(col_name, row, type) %}
{% from "VideoAdminBundle::admin.html.twig" import thumbnail %}
{% import _self as itself %}
    {% if col_name == 'avatar' %}
        {{ thumbnail('', row[ col_name ], true) }}
    {% elseif col_name == 'youtube' %}
        {{ thumbnail('', 'https://i.ytimg.com/vi/' ~ row[ col_name ] ~ '/mqdefault.jpg', true) }}
    {% elseif col_name == 'image' %}
        {{ thumbnail('images', row[ col_name ], false) }}
    {% elseif col_name == 'thumb' %}
        {{ thumbnail('thumbs', row[ col_name ], false) }}
    {% else %}
        {{ ('datetime' != type)? row[ col_name ] : row[ col_name ]|date }}
    {% endif %}
{% endmacro %}

{% macro side_item(table, checks, additionalClass, route) %}
    <li class="db_table {{additionalClass-}}">
        {% set table_name = table.getName() %}
        {% set columns=table.getColumns() %}
        {% set fkeys = table.fkeys %}
        <a class="expand-btn" href="#"></a>
        <a href="{{path( route, {'table': table_name} )}}">
            {{- table_name }}
            {{ (table.class is defined)? '<i class="icon-cube"></i>' : '' -}}
        </a>
        <ul class="side-list">
        {% for column in columns %}
            {% set col_name = column.getName() %}
            <li class="db_column">
              <input id="{{table_name}}_{{col_name}}" name="{{table_name}}[{{col_name}}]" type="checkbox" {{ ( checks[ col_name ] is defined )? 'checked' : '' }}>
              <label for="{{- table_name -}}_{{- col_name -}}">
                <span class="col_name">{{- col_name -}}</span>
                <span class="faded">{{ column.getType() }}</span>
                {{ (fkeys[col_name] is defined)? '<i class="icon-key faded"></i>' : '' }}
              </label>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endmacro %}

