{% extends "MuseumAdminBundle::admin.html.twig" %}

    {% block sidebar %}
    {% import _self as itself %}
        <div class="side-body coffee">
            <form class="prefs">
            <input type="hidden" name="prefs_form" value="1" />
            {% set route = app.request.attributes.get('_route') %}
            <ul class="side-list">
              {% if myTable is not null %}
                {{- itself.side_item(myTable.table, prefs[ myTable.table.getName() ], 'open', route) -}}
              {% endif %}
              {% for table in tables if myTable is null or myTable.table.name != table.name %}
                {% if prefs[ table.getName() ] is defined %}
                  {{- itself.side_item(table, prefs[ table.getName() ], '', route) -}}
                {% endif %}
              {% endfor %}
            </ul>
            </form>
        </div>
    {% endblock %}

    {% block body %}
    {% import _self as itself %}
    {% set route = app.request.attributes.get('_route') %}
            {% if myTable is not null %}
              <form class='my_table'>
                <input type="hidden" name="my_table" value="{{myTable.table.name}}"/>
                <h1>
                  {{myTable.table.name}}
                  <a class="save btn">Save Preferences</a>
                  <a class="refresh btn dark">Refresh Preferences</a>
                  <a class="add btn">Add</a>
                  <a class="edit btn">Edit</a>
                  <span class="edit-save-span hidden">
                    <a class="cancel-edit btn">Edit Cancel</a><a class="save-edit btn dark">Save</a>
                  </span>
                  <a class="delete_rows btn dark">Del Selected</a>
                </h1>

                {% if myTable.table.class is defined %}
                <h3>
                  <input type="checkbox"/>
                  {{ myTable.table.class }}
                </h3>
                  <span class="help-span">check the box if you want to use the class functions instead of direct MySQL</span>
                {% else %}
                <h3>
                  No class was found
                </h3>
                {% endif %}

                {% set fkeys = myTable.table.fkeys %}
                <table class="{{myTable.table.name}}">
                  <thead>
                    <tr>
                      <th><input class="select_all" type="checkbox"></th>
                {% set columns=myTable.table.getColumns() %}
                {% for column in columns %}
                      {% set col_name = column.getName() %}
                      <th class="{{col_name|replace({' ': '-'}) }}">{{ col_name }}</th>
                {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                {% for row in myTable.rows %}
                    <tr class="abc">
                      {% set row_id=(row['id'] is defined)? row['id'] : '' %}
                      <td class="select_row"><input type="checkbox" name="rows[{{row_id}}]"></td>
                    {% for column in columns %}
                        {{- itself.table_cell(column.getName(), fkeys, row, route) -}}
                    {% endfor %}
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </form>

              {% if myTable.show_pagination_bool %}
              <div class="pagination">
                {{ knp_pagination_render(myTable.rows) }}
              </div>
              {% endif %}

            {% endif %}

    {% endblock %}

{% macro table_cell(col_name, fkeys, row, route) %}
{% import _self as itself %}
  {% if fkeys[col_name] is defined %}
    {% set classes=col_name|replace({' ': '-'}) ~ ' fkey' %}
    {% set fkey = fkeys[col_name] %}
    <td class="{{classes}}" data-value="{{row[ col_name ]}}">
      <a href="{{path( route, {'table':fkey['table'], 'col':fkey['col'], 'val': row[ col_name ]} )}}">
        {{- itself.table_cell_inside(col_name, row) -}}
      </a>
    </td>
  {% else %}
    {% set classes=col_name|replace({' ': '-'}) %}
    <td class="{{classes}}" data-value="{{row[ col_name ]}}">
        {{- itself.table_cell_inside(col_name, row) -}}
    </td>
  {% endif %}
{% endmacro %}


{% macro table_cell_inside(col_name, row) %}
{% from "MuseumAdminBundle::admin.html.twig" import thumbnail %}
{% import _self as itself %}
    {% if col_name == 'avatar' %}
        {{ thumbnail('', row[ col_name ], true) }}
    {% elseif col_name == 'youtube' %}
        {{ thumbnail('', 'https://i.ytimg.com/vi/' ~ row[ col_name ] ~ '/mqdefault.jpg', true) }}
    {% elseif col_name == 'image' %}
        {{ thumbnail('images', row[ col_name ], false) }}
    {% elseif col_name == 'thumb' %}
        {{ thumbnail('thumbs', row[ col_name ], false) }}
    {% else %}
        {{ row[ col_name ] }}
    {% endif %}
{% endmacro %}

{% macro side_item(table, checks, additionalClass, route) %}
    <li class="db_table {{additionalClass-}}">
        {% set table_name = table.getName() %}
        {% set columns=table.getColumns() %}
        {% set fkeys = table.fkeys %}
        <a class="expand-btn" href="#"></a>
        <a href="{{path( route, {'table': table_name} )}}">
            {{- table_name }}
            {{ (table.class is defined)? '<i class="icon-cube"></i>' : '' -}}
        </a>
        <ul class="side-list">
        {% for column in columns %}
            {% set col_name = column.getName() %}
            <li class="db_column">
              <input id="{{table_name}}_{{col_name}}" name="{{table_name}}[{{col_name}}]" type="checkbox" {{ ( checks[ col_name ] is defined )? 'checked' : '' }}>
              <label for="{{- table_name -}}_{{- col_name -}}">
                <span class="col_name">{{- col_name -}}</span>
                <span class="faded">{{ column.getType() }}</span>
                {{ (fkeys[col_name] is defined)? '<i class="icon-key2 faded"></i>' : '' }}
              </label>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endmacro %}

