{% extends "SportsRushAdminBundle::admin.html.twig" %}

    {% block sidebar %}
    {% import _self as itself %}
        <div class="side-body coffee">

            <a class="refresh btn dark">Refresh Preferences</a>
            <a class="save btn">Save Preferences</a>

            <form class="prefs">
            <input type="hidden" name="prefs_form" value="1" />
            {% set route = app.request.attributes.get('_route') %}
            <ul class="side-list">
              {% if myTableName is not null %}
                {{- itself.side_item(tables[myTableName], 'open', route) -}}
              {% endif %}
              {% for table in tables if myTable is null or myTable.table.name != table.name %}
                  {{- itself.side_item(table, '', route) -}}
              {% endfor %}
            </ul>
            </form>
        </div>
    {% endblock %}

    {% block body %}
    {% import _self as itself %}
    {% set route = app.request.attributes.get('_route') %}
            {% if myTable is not null %}
              <form class="hidden" id="query-form"></form>
              <form class='my_table'>
                <input type="hidden" name="my_table" value="{{myTable.table.name}}"/>
                <h1>
                  {{myTable.table.name}}
                  <a class="add btn">Add</a>
                  <a class="edit btn">Edit</a>
                  <span class="edit-save-span hidden">
                    <a class="cancel-edit btn">Edit Cancel</a><a class="save-edit btn dark">Save</a>
                  </span>
                  <a class="delete_rows btn dark">Del Selected</a>
                </h1>

                {% if myTable.table.class is defined and myTable.table.class != '' %}
                <h3>
                  <input type="checkbox" checked/>
                  {{ myTable.table.class }}
                </h3>
                  <span class="help-span">check the box if you want to use the class functions instead of direct MySQL</span>
                {% else %}
                <h3>
                  No class was found
                </h3>
                {% endif %}

                <div class="table-query">
                  <div class="table-queries-list">
                    {% if myTable.query.equal is defined %}
                        {% for cl, vl in myTable.query.equal %}
                            <div class="query-param equal-{{cl}}">
                                <span class="column">{{ cl }}</span> = <input form="query-form" name="query[equal][{{cl}}]" value="{{ vl }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if myTable.query.range is defined %}
                        {% for cl, vl in myTable.query.range %}
                            <div class="query-param range-{{cl}}">
                                <span class="column">{{ cl }}</span> between 
                                <input form="query-form" name="query[range][{{cl}}][start]" value="{{ vl.start }}"/>
                                and 
                                <input form="query-form" name="query[range][{{cl}}][end]" value="{{ vl.end }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if myTable.query.like is defined %}
                        {% for cl, vl in myTable.query.like %}
                            <div class="query-param like-{{cl}}">
                                <span class="column">{{ cl }}</span> like <input form="query-form" name="query[like][{{cl}}]" value="{{ vl }}"/>
                                <a class="close">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                  </div>

                    {% if myTable.query.order is defined %}
                        <div class="query-param  query-order-holder">
                        <b>Order by:</b>
                        {% for ind, qr in myTable.query.order %}
                            {% for cl, vl in qr %}
                                <span class="order-span order-{{cl}}">
                                   <span class="column">{{ cl }}</span>
                                   <input form="query-form" type="hidden" name="query[order][{{ind}}][{{cl}}]" value="{{ vl }}"/>
                                   {% if vl == "DESC" %}
                                        <a class="order-direction icon-arrow-circle-down"></a>
                                   {% elseif vl == "ASC" %}
                                        <a class="order-direction icon-arrow-circle-up"></a>
                                   {% endif %}
                                   <a class="close">&times;</a>
                                </span>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endif %}

                  <a class="search btn">Run Query</a>
                </div>

                <table class="{{myTable.table.name}}">
                  <thead>
                    <tr>
                      <th><input class="select_all" type="checkbox"></th>
                {% for field in myTable.table.fields %}
                      {% set assoc_class = (field.is_association)? ((field.imaginary)? 'imaginary' : 'fkey' ) : '' %}
                      <th class="{{field.col|replace({' ': '-'}) }} {{assoc_class}}" data-type="{{ field.type }}">

                        <div class="btn-group">
                            <div class="column-th-names">
                                <div class="field-name"> {{ field.field }} </div>
                                <div class="column-name"> {{ field.col }} </div>
                            </div>
                            <div class="ddn panel-ddn double-action" data-type="{{field.type}}" data-column="{{ field.field }}" data-order="">
                                <a href="#" class="btn ddn-btn suffix">&#9662;</a>
                                <div class="ddn-list item-types-list">
                                    <a href="#" class="btn" data-order='ASC' >ASC <i class="icon-arrow-circle-up"></i></a>
                                    <a href="#" class="btn" data-order='DESC'>DESC <i class="icon-arrow-circle-down"></i></a>
                                    <a href="#" class="btn" data-order='clear'>Clear</a>
                                    <hr>
                                    <a href="#" class="btn" data-order='' data-search="equal">Find <i class="icon-search"></i></a>
                                    {% if 'string' == field.type %}
                                        <a href="#" class="btn" data-order='' data-search="like">Search <i class="icon-puzzle-piece"></i></a>
                                    {% else %}
                                        <a href="#" class="btn" data-order='' data-search="range">Range <i class="icon-filter"></i></a>
                                    {% endif %}
                                    <a href="#" class="btn" data-order='' data-search="clear">Clear</a>
                                    <hr>
                                    <a href="#" class="btn column-info-btn">
                                        Info:
                                        {% if field.is_association %}
                                            {{ field.is_owner? 'owner ':'' }}
                                            {{ field.association_name }} 
                                        {% else %}
                                             {{ field.field }} {{ field.col }}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>

                      </th>
                {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                {% for row in myTable.rows %}
                    <tr class="abc">

                      <td class="select_row"><input type="checkbox" name="rows[{{myTable.table.prim}}]"></td>

                      {% for  field_name, field in  myTable.table.fields %}
                            {{- itself.table_cell( myTable.table, row, field, route) -}}
                      {% endfor %}

                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </form>

              {% if myTable.show_pagination_bool %}
              <div class="pagination">
                {{ knp_pagination_render(myTable.pagination) }}
              </div>
              {% endif %}

            {% endif %}

    {% endblock %}

{% macro table_cell(tbl, row, field, route) %}
{% import _self as itself %}

    <td class="{{ row[field.col].col_class }}" data-value="{{ row[field.col].value }}">

        {% if field.is_association %}

              {% if row[ field.col ].count is defined and row[ field.col ].count > 1 %}
                  {% set tgt_col = field.tgt_col_name %}
                  <a href="{{path( route, {'table': field.tgt_table_name, ('query[equal]['~tgt_col~']'): row[tbl.prim].value} )}}">
                    All({{row[ field.col ].count}})
                  </a>
              {% endif %}

              {% for val in row[ field.col ].values %}
                  <a href="{{path( route, {'table': field.tgt_table_name, ('query[equal]['~field.tgt_table_prim~']'): val} )}}">
                    {{ val }}
                  </a>
              {% endfor %}

        {% else %}
            {{- itself.table_cell_inside(field, row[field.col].value) -}}
        {% endif %}
    </td>

{% endmacro %}


{% macro table_cell_inside(field, val) %}
{% from "SportsRushAdminBundle::admin.html.twig" import thumbnail %}
{% import _self as itself %}
    {% if field.is_association %}
        <a href="{{path( route, {'table': field.tgt_table, ('query[equal]['~field.tgt_field~']'): val} )}}">
          {{- val -}}
        </a>
    {% elseif field.col == 'avatar' %}
        {{ thumbnail('', val, true) }}
    {% elseif field.col == 'youtube' %}
        {{ thumbnail('', 'https://i.ytimg.com/vi/' ~ val ~ '/mqdefault.jpg', true) }}
    {% elseif field.col == 'image' %}
        {{ thumbnail('images', val, false) }}
    {% elseif field.col == 'thumb' %}
        {{ thumbnail('thumbs', val, false) }}
    {% else %}
        {{val}}
    {% endif %}
{% endmacro %}

{% macro side_item(table, additionalClass, route) %}
    <li class="db_table {{additionalClass-}}">
        <a class="expand-btn" href="#"></a>
        <a href="{{path( route, {'table': table.name} )}}">
            {{- table.name }}
            {{ (table.class is defined and table.class != '')? '<i class="icon-cube"></i>' : '' -}}
        </a>
        <ul class="side-list">
        {% for field in table.fields %}
            <li class="db_column">
              <input id="{{table.name}}_{{field.col}}" data-col="{{field.col}}" name="{{table.name}}[{{field.col}}]" type="checkbox" {{ (field.is_on == 1)? 'checked' : '' }}>
              <label for="{{- table.name -}}_{{- field.col -}}">
                <span class="{{field.col}}">{{- field.col -}}</span>
                <span class="faded">{{ field.type }}</span>
                {{ (field.is_association)? ((not field.imaginary)? '<i class="icon-key faded"></i>': '<i class="icon-cubes faded"></i>' ): '' }}
              </label>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endmacro %}

