{% import _self as itself %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Admin Score">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Admin Score{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Playfair+Display'>
    <link rel="stylesheet" type="text/css" href="/bundles/admin_score/index.css" />
    <link rel="stylesheet" type="text/css" href="/bundles/admin_score/icomoon/style.css" />
    <link rel="stylesheet" type="text/css" href="/bundles/admin_score/range_calendar/range_calendar.css" />
</head>
<body>
  <div class="container">

    <div class="side-bar">
        <div class="top-side-bar dark text-coffee">
            <img class="logo" src="/bundles/admin_score/ArchLogo100.png"/>
            <div class="logo-title">Admin score papers</div>
        </div>

        {% block sidebar %}
        {% endblock %}

    </div>

    <div class="main">

        <div class="top-main-bar dark">

            {% block navbar %}

            <ul class="tabs-menu">
              <li><a href="{{path('admin_score_tables_tab')}}">Tables</a></li>
              <li><a href="{{path('admin_score_classes_tab')}}">Classes</a></li>
              <li><a href="{{path('admin_score_images_tab')}}">Images</a></li>
              <li><a href="{{path('admin_score_video_tab')}}">Video</a></li>
              <li><a href="{{path('admin_score_mail_tab')}}">Mail</a></li>
              <li><a href="{{path('admin_score_claims_tab')}}">Claims</a></li>
            <ul>

            {% endblock %}

        </div>

        <div class="main-body">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block footer %}
    {% endblock %}

  </div>

<div class="flash-box"></div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bundles/admin_score/index.js"></script>
<script src="/bundles/admin_score/range_calendar/range_calendar.js"></script>
</body>
</html>


{% macro thumbnail(folder, url, externalBool) %}
    {% if externalBool %}
      <div class="thumbnail" style='background-image: url("{{ url }}")'></div>
    {% else %}
      <div class="thumbnail" style='background-image: url("/uploads/{{folder}}/{{url}}")'></div>
    {% endif %}
{% endmacro %}
